<footer class="py-4 my-6">
  <ul class="nav justify-content-center border-bottom  mb-6">
    <li class="nav-item">
      <a href="/" class="nav-link px-4 ">Home</a>
    </li>
    <li class="nav-item">
      <a href="/About" class="nav-link px-4 ">About Me</a>
    </li>
    <li class="nav-item">
      <a href="/Projects" class="nav-link px-4 ">Projects</a>
    </li>
    <li class="nav-item">
      <a href="/contact" class="nav-link px-4 "
        >Contact Me</a
      >
    </li>
  </ul>
  <p class="text-center my-6 mb-10">&copy; 2024  JanodAbesekara , PLC</p>
</footer>
