<body>
  <div class="Container">
    <h2>Projects</h2>
    <div class="main">
      <p>Name Of Project</p>
      <img
        src="https://via.placeholder.com/150"
        style="width: 200px; height: 200px"
        alt="Project Image"
      />
      <p>Project Description</p>
      <p>Stack:-</p>
      <p>Technologies:-</p>
      <img
        src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
        style="width: 30px; height: 30px"
        alt="React Icon"
      />
      <p><a>Git link</a></p>
      
    </div>
  </div>
</body>
