<body>
  <div class="Container">
    <h2>Projects</h2>
    <div class="main">
      <p>Name Of Project</p>
      <img
        src="https://drive.google.com/file/d/1vHXKiMUbO4LE9S_279jzGNVI-q-wt64j/view?usp=sharing"
        style="width: 200px; height: 200px"
        alt="Project Image"
      />
      <p>Project Description</p>
      <p>Stack:- MERN</p>
      <p>Technologies:- </p>
      <img
        src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
        style="width: 30px; height: 30px"
        alt="React Icon"
      />
      <img
        src="https://www.svgrepo.com/show/376337/node-js.svg"
        style="width: 50px; height: 50px"
        alt="Node Icon"
      />
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiJ_y8kTFn2mCvDWhYHaHqRHphHVToQHM97w&s"
        style="width: 50px; height: 60px"
        alt="Node Icon"
      />
      <img
        src="https://firebase.google.com/static/images/brand-guidelines/logo-vertical.png"
        style="width: 50px; height: 50px"
        alt="Mongo Icon"
      />

      <p><a>Git link</a></p>
    </div>
  </div>
</body>
