<body>
  <div class="Container">
    <h2>Projects</h2>
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile>
         <div class="main">

        <h6>TuitionClass Management System</h6>

        <img
          src="../../Assets/Project1.png"
          style="width: 400px; height: 400px"
          alt="Project Image"
        />
        <p>
          TuitionClass Management system for manageing the tyuition class teachers
          can add lecture materials
        </p>
        <p>Stack:- MERN</p>
        <p>Technologies:-</p>
        <img
          src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
          style="width: 30px; height: 30px"
          alt="React Icon"
        />
        <img
          src="https://www.svgrepo.com/show/376337/node-js.svg"
          style="width: 50px; height: 50px"
          alt="Node Icon"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiJ_y8kTFn2mCvDWhYHaHqRHphHVToQHM97w&s"
          style="width: 50px; height: 60px"
          alt="Node Icon"
        />
        <img
          src="https://firebase.google.com/static/images/brand-guidelines/logo-vertical.png"
          style="width: 50px; height: 50px"
          alt="Mongo Icon"
        />

        <p><a>Git link</a></p>
      </div>
    </mat-grid-tile>
      <mat-grid-tile> <div class="main">

        <h6>TuitionClass Management System</h6>

        <img
          src="../../Assets/Project1.png"
          style="width: 400px; height: 400px"
          alt="Project Image"
        />
        <p>
          TuitionClass Management system for manageing the tyuition class teachers
          can add lecture materials
        </p>
        <p>Stack:- MERN</p>
        <p>Technologies:-</p>
        <img
          src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
          style="width: 30px; height: 30px"
          alt="React Icon"
        />
        <img
          src="https://www.svgrepo.com/show/376337/node-js.svg"
          style="width: 50px; height: 50px"
          alt="Node Icon"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiJ_y8kTFn2mCvDWhYHaHqRHphHVToQHM97w&s"
          style="width: 50px; height: 60px"
          alt="Node Icon"
        />
        <img
          src="https://firebase.google.com/static/images/brand-guidelines/logo-vertical.png"
          style="width: 50px; height: 50px"
          alt="Mongo Icon"
        />

        <p><a>Git link</a></p>
      </div></mat-grid-tile>
      <mat-grid-tile> <div class="main">

        <h6>TuitionClass Management System</h6>

        <img
          src="../../Assets/Project1.png"
          style="width: 400px; height: 400px"
          alt="Project Image"
        />
        <p>
          TuitionClass Management system for manageing the tyuition class teachers
          can add lecture materials
        </p>
        <p>Stack:- MERN</p>
        <p>Technologies:-</p>
        <img
          src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
          style="width: 30px; height: 30px"
          alt="React Icon"
        />
        <img
          src="https://www.svgrepo.com/show/376337/node-js.svg"
          style="width: 50px; height: 50px"
          alt="Node Icon"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiJ_y8kTFn2mCvDWhYHaHqRHphHVToQHM97w&s"
          style="width: 50px; height: 60px"
          alt="Node Icon"
        />
        <img
          src="https://firebase.google.com/static/images/brand-guidelines/logo-vertical.png"
          style="width: 50px; height: 50px"
          alt="Mongo Icon"
        />

        <p><a>Git link</a></p>
      </div></mat-grid-tile>
      <mat-grid-tile> <div class="main">

        <h6>TuitionClass Management System</h6>

        <img
          src="../../Assets/Project1.png"
          style="width: 400px; height: 400px"
          alt="Project Image"
        />
        <p>
          TuitionClass Management system for manageing the tyuition class teachers
          can add lecture materials
        </p>
        <p>Stack:- MERN</p>
        <p>Technologies:-</p>
        <img
          src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png"
          style="width: 30px; height: 30px"
          alt="React Icon"
        />
        <img
          src="https://www.svgrepo.com/show/376337/node-js.svg"
          style="width: 50px; height: 50px"
          alt="Node Icon"
        />
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiJ_y8kTFn2mCvDWhYHaHqRHphHVToQHM97w&s"
          style="width: 50px; height: 60px"
          alt="Node Icon"
        />
        <img
          src="https://firebase.google.com/static/images/brand-guidelines/logo-vertical.png"
          style="width: 50px; height: 50px"
          alt="Mongo Icon"
        />

        <p><a>Git link</a></p>
      </div></mat-grid-tile>
    </mat-grid-list>

  </div>
</body>
